---
import Section from "@/components/Section.astro";
---

<Section class="p-4 bg-bgDark2">
  <h1 class="mb-4 font-bold">
    <span class="text-teal-400">#</span> Hello World!
  </h1>
  <article class="text-sm">
    <p class="mb-2 text-textContent">
      Bienvenido al lugar donde encuentras recursos útiles para dar vida a tus
      proyectos web.
    </p>
    <p class="mb-2 text-textContent">
      Aquí tienes acceso a una colección de <strong class="text-primaryColor"
        >efectos visuales</strong
      >,
      <strong class="text-primaryColor">animaciones</strong> y más, que pueden agregar
      ayudarte a mejorar a tus sitios web. Desde transiciones sutiles hasta efectos
      avanzados, encontrarás recursos prácticos para mejorar la experiencia de usuario.
    </p>
    <p class="mb-2 text-textContent">
      También puedes explorar ejemplos prácticos para interactuar con el <strong
        class="text-primaryColor">DOM</strong
      > usando JavaScript, lo cual facilita la creación de funcionalidades interactivas.
    </p>
    <p class="mb-2 text-textContent">Además, aquí encontrarás recursos como:</p>
    <ul class="pl-4 mb-2 list-disc list-inside text-textContent">
      <li>Menús desplegables y botones con efectos hover personalizados.</li>
      <li>
        Animaciones de carga y transiciones que mejoran la fluidez de tus
        interfaces.
      </li>
      <li>
        Recursos de diseño responsivo para adaptarse a cualquier dispositivo.
      </li>
      <li>
        Snippets de código para formularios, galerías, sliders y otros
        componentes.
      </li>
    </ul>
    <p class="mb-2 text-textContent">
      Con estos recursos podrás mejorar tus proyectos de manera fácil y rápida.
      ¡Explora y encuentra lo que necesitas para llevar tus ideas al siguiente
      nivel!
    </p>
  </article>
</Section>
