---
import Section from "@/components/Section.astro";
---

<Section class="p-4 bg-bgDark2">
  <h1 class="font-bold">
    <span class="text-teal-400">#</span> Inicio
  </h1>
  <article class="text-sm">
    <br />
    <h1>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita soluta
      repellat, excepturi architecto minus perferendis, voluptatem dolor
      exercitationem animi veniam iure sit facere tempore consequuntur velit
      quam in minima! Rerum?
    </h1>
    <br />
    <h1>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita soluta
      repellat, excepturi architecto minus perferendis, voluptatem dolor
      exercitationem animi veniam iure sit facere tempore consequuntur velit
      quam in minima! Rerum?
    </h1>
  </article>
</Section>
