---
import Section from "@/components/Section.astro";
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout title="404">
  <Section class="p-4 bg-bgDark2">
    <h1>⚒️ Página no encontrada...</h1>
  </Section>
</MainLayout>
