---
import MainLayout from "../layouts/MainLayout.astro";
import Projects from "@/components/home/modals/Projects.astro";
import Inicio from "@/sections/home/Inicio.astro";
---

<MainLayout title="DevToolKit">
  <Inicio />
  <!-- <div class="items-center justify-center hidden" id="modal-projects">
    <Projects />
  </div> -->
</MainLayout>
